.md-editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.editor {
    display: block;
    width: 50%;

    textarea {
        width: 100%;
        resize: none;
        height: 100%;

        &:focus {
            outline: none;
        }
    }
}

.preview {
    display: flex;
    width: 50%;
    height: 100%;
}
